<mat-divider></mat-divider>
<mat-toolbar class="toolbar">
  <span><a class="title" routerLink="/">{{title | uppercase }}</a></span>

  <span class="spacer"></span>

  <span>
      <a class="menu" routerLink="/about">ABOUT</a>
  </span>
  <span class="blank"></span>
  <span>
      <a class="menu" routerLink="/contact">CONTACT</a>
  </span>
  <span class="blank"></span>
  <span>
      <div *ngIf="!(auth.user | async); else alreadyLoggedIn">
          <a class="menu" routerLink="/login">LOGIN</a>
      </div>
      <ng-template #alreadyLoggedIn>
          <button (click)="logout()">LOGOUT</button>
      </ng-template>
  </span>

  
</mat-toolbar>
<mat-divider></mat-divider>
<router-outlet></router-outlet>
