<div class="bg">
  <h3> </h3>
  <div *ngIf="copyCl">
    <mat-card>
      <h2>{{ copyCl.title | uppercase}}</h2>
      <div>
        <hr>
        <p class="content">
          {{ copyCl.content }}
        </p>
      </div>
    </mat-card>
    <div *ngFor="let question of copyCl.questions; let i=index">
      <mat-card>
        <h4>{{question.questionTitle}}</h4>
        <div *ngFor="let checkbox of question.checkboxes">
          <mat-checkbox class="ckOption" [(ngModel)]="checkbox.checked"> {{checkbox.option}}</mat-checkbox>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="rbtn">
    <button class="rbtn_content" mat-raised-button (click)="goResult()">Submit</button>
  </div>
</div>