<div [formGroup]="form">
  <label [attr.for]="checklist.key">{{checklist.label}}</label>
  <div [ngSwitch]="checklist.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="checklist.key"
            [id]="checklist.key" [type]="checklist.type">

    <select [id]="checklist.key" *ngSwitchCase="'dropdown'" [formControlName]="checklist.key">
      <option *ngFor="let opt of checklist.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div> 

  <div class="errorMessage" *ngIf="!isValid">{{checklist.label}} is required</div>
</div>
