<h3>Add new checklist</h3>
<form [formGroup]="clForm">
  <div>
    <label>Title:
      <input class="form-control" formControlName="title">
    </label>
  </div>
  <div>
    <label>Content:
      <input class="form-control" formControlName="content">
    </label>
  </div>

  <!--Question Array-->
  <div formArrayName="newq">
    <div class="newq-container" *ngFor="let question of getNewq(clForm); let i=index">
      <h4>Question #{{i+1}}</h4>
      <div class="form-control" [formGroupName]="i">
        <label> Question Title: 
            <input class="form-control" formControlName="questionTitle">
            <button (click)="addcb(i)" type="button">Add Option</button>
        </label>
        <!--Option Array-->
        <div class="checkboxes-container" formArrayName="checkboxes">
          <div [formGroupName]="j" *ngFor="let checkbox of getCheckbox(question); let j=index">
              <label> Option: 
                  <input class="form-control" formControlName="option">
              </label>
          </div>
        </div><!--Option Array-->
      </div>
    </div>
  </div><!--question array-->

    <button (click)="addq()" type="button">Add Question</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</form>

<p>Form value: {{ clForm.value | json}}</p>
