<h3>Add new checklist</h3>
<form [formGroup]="clForm">
  <div>
    <mat-form-field>Title:
      <input matInput formControlName="title">
    </mat-form-field>
  </div>

  <div>
      <mat-form-field>Content:
        <input matInput formControlName="content">
      </mat-form-field>
    </div>

  <!--Question Array-->
  <div formArrayName="newq">
    <mat-card *ngFor="let question of getNewq(clForm); let i=index">
      <mat-card-content>
          <div [formGroupName]="i">
            <mat-form-field> Question#{{i+1}} Title: 
                <input matInput  formControlName="questionTitle">
            </mat-form-field>
            <button mat-button (click)="addcb(i)" type="button">Add Option</button>
            <!--Option Array-->
            <div formArrayName="checkboxes">
              <div [formGroupName]="j" *ngFor="let checkbox of getCheckbox(question); let j=index">
                  <mat-form-field>
                      <input matInput formControlName="option" placeholder="option {{j+1}}">
                  </mat-form-field>
              </div>
            </div><!--Option Array-->
          </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="addq()" type="button">Add Question</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
      <button mat-raised-button (click)="onSubmit()">Submit</button>
  </div>
<p>Form value: {{ clForm.value | json}}</p>
