<div class="bg">
  <h2 class="see">
      DEVELOPERS
  </h2>
  <section class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Eunjin Lee</mat-card-title>
        <mat-card-subtitle>21200566</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/lmp-webpj.appspot.com/o/KakaoTalk_20171204_123723132.jpg?alt=media&token=e63f4e0f-2c9b-4317-9c93-e05ff7a0db92" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          한동대학교 12학번 전산전자공학부. 졸업하고싶다.
        </p>
      </mat-card-content>
    </mat-card>
    <div class="spacer"> </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Semi Moon</mat-card-title>
        <mat-card-subtitle>21400270</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/lmp-webpj.appspot.com/o/KakaoTalk_Photo_2018-06-09-22-07-27.jpg?alt=media&token=51e297a1-cd8f-4c7a-89ac-5263dcb308d3" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
            한동대학교 14학번 전산전자공학부. 졸업하고싶다.
        </p>
      </mat-card-content>
    </mat-card>
  </section>
</div>