<section class="bg">
<h2 class="see">
  SEE ALL CHECKLISTS
</h2>

  <section class="main">
    <mat-card class="card">
      <button mat-fab class="add" routerLink="/addcl"><mat-icon>add</mat-icon></button>
    </mat-card>

    <mat-card class="card" *ngFor = "let cl of checkLists">
      <mat-card-header>
        <mat-card-title><h3>Title: {{cl.title}}</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{cl.content}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/detail/{{cl.id}}">Start Checking</button>
      </mat-card-actions>
    </mat-card>
  </section>
  <!--section class="main">
    <mat-grid-list id="container" cols="3" rowHeight="1:1">

        <mat-grid-tile class="addbox">
          <button mat-fab class="add" routerLink="/addcl"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile class="card" *ngFor = "let cl of checkLists">
          <mat-grid-tile-header>{{cl.title}}</mat-grid-tile-header>
          <p>Content: {{cl.content}}</p>
          <mat-grid-tile-footer>
            <button mat-button routerLink="/detail/{{cl.id}}">Start Checking</button>
          </mat-grid-tile-footer>
          <mat-divider></mat-divider>
        </mat-grid-tile>
    </mat-grid-list>
  </section-->

</section>


