<h2>
  Hottest checklists
</h2>

<!--section id = "container">
    <div>
      <span *ngFor = "let cl of checkLists">
          <mat-card class = "card">
            <mat-card-header>
              <mat-card-title>{{cl.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src = "https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-actions>
              <button mat-button routerLink="/detail/{{cl.id}}">Start Checking</button>
            </mat-card-actions>
          </mat-card>
      </span>
    </div>

    <div>
      <a routerLink="/addcl"><mat-icon>add</mat-icon></a>
    </div>
</section-->
<section id="container">

  <mat-card class="card">
    <button mat-fab color="primary" routerLink="/addcl"><mat-icon>add</mat-icon></button>
  </mat-card>

  <mat-card class="card" *ngFor = "let cl of checkLists">
    <mat-card-header>
      <mat-card-title><h3>Title: {{cl.title}}</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{cl.content}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/detail/{{cl.id}}">Start Checking</button>
    </mat-card-actions>
  </mat-card>

</section>


