
.bg{
    background-color: rgb(243, 242, 242);
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    width: 100%;
}

.grid {
    margin: 0;
}
.col-1-4 {
    width: 240px;
    height: 150px;
}

.grid-pad {
    padding: 15px;
    margin: auto;
}

[class*='col-'] {
    float: left;
    padding:0;
}


mat-card {
    margin: 1em auto;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
    padding:5px;
}

#addmat{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.see{
    background-color: #f05F40;
    color: white;
    text-align: center;
    margin:0;
    padding: 10px;
    padding-top: 15px;
    font-size: 30px;
}


.add{
    background-color: #F05F40;;
}

.for{
    
    font-weight: 300;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

#cardtitle{
    width: 230px;
    padding: 5px;
    padding-top: 15px;
    height: 35px;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 16px;
    justify-content: center;
    font-weight: 400;
}

mat-divider{
    border-top-width: 2px;
}

mat-card-content{
    width: 230px;
    padding: 5px;
    height: 48px;
    margin: 0;
    background-color: rgb(199, 197, 197);
}



mat-card-actions{
    padding-top: 14px;
    width: 150px;
    height: 25px;
    padding: 0;
    margin: 0;
    align-items: center;
}
#start{
    width: 240px;
    height: 42px;
    padding:0;
    background-color: #F05F40;
    color: white;
}